.navbar {
    background-color:#16202f;
}
.jumbotron {
    padding-top: 2rem;
    background-color: #cbdefa;
}

.projects {
    background-color: #cbdefa;
}
.card {
    transition: transform 0.3s ease; 
  }

  .card:hover {
    transform: scale(1.05); 
  }